.canvas-row-css {
  text-align:center;
}

.canvas-css {
    border-style:solid;
    border-width:2px;
    border-color:#138fc2;
}

.canvas-img-css {
    margin-bottom:8px;
}

.canvas-return-css {
    width:500px; 
    height:500px;
    margin-bottom:8px;
    min-width:500px;
    overflow: hidden;
}

.canvas-button-css {
  text-align:center;
}
.rendered-image-button {
  text-align:center;
}

#instruction-text-img {
  text-align:center;
  font-weight: bold;
}

#instruction-text-draw {
  font-weight: bold;
}
#matrix-table td {
   padding:0; margin:0;
   font-size:10px;
   width:10px;
   border: 0px !important;
}


#matrix-table {
   border-collapse: collapse;
   width:50%;
   margin:auto;
}

#table-matrix {
   text-align:center;
}

.canvas-panel-style-options {
    background-color:#138fc2!important;
    color:#FFFFFF!important;
    border-color:#138fc2!important;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #138fc2;
    border-radius:15px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.panel-row-flex {
    display: flex;
    align-items: center;
}

.modal-dialog {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  margin: 0 auto;
}

#analyseModal {
    text-align:center;
}

.inline1 { display: inline-block !important; }

#pred-table {
  table-layout: fixed;
  margin-bottom: 0px;
}

#modal-body-patt {
  height: 600px;
  overflow-y: auto;
}

#modal-dialog-patt{
      overflow-y: initial !important
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid blue;
  border-right: 4px solid green;
  border-bottom: 4px solid red;
  border-left: 4px solid pink;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}