#sudoku-row  table {
    width: 90% !important
}
#sudoku-row  td {
    width:12.5%;
    position:relative;
}
#sudoku-row  td:after{
    content:'';
    display:block;
    margin-top:100%;
}
#sudoku-row td .cell-content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:black;
}

#sudoku-row .cell-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: white;
}

.sudoku-canvas-css {
    border-style:solid;
    border-width:2px;
    border-color:#138fc2;
}

.sudoku-col {
    height: 600px;
    overflow-y: auto;
}

.padded-buttons {
    margin-left: 10px;
    margin-right: 10px;
}

.correct-sudoku {
    background-color: green!important;
}
.wrong-sudoku {
    background-color: red!important;
}