<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>DigitRecogML</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ml-custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sudoku-custom.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand logo">
                    <h2>DigitRecogML</h2>
                </a>
            </div>
            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#home-page">Home</a></li>
                    <li><a href="#demo-page">Demo</a></li>
                    <li><a href="#sudoku-page">Sudoku</a></li>
                    <li><a href="#feature-page">About Project</a></li>
                    <li><a href="#about-us-page">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->



    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Handwritten Digit Recognition using Machine Learning Techniques</h2>
                    <p>DigitRecogML is a handwritten digit recognition platform that makes use of Nearest Neighbour and Metric Learning algorithms, along with Deep Learning features and Sequence Mining algorithms along with the MNIST database for increased accuracy. </p>
                    <a href="#demo-page" class="button white">Go to Demo</a>
                </div>
                <div class="hidden-xs hidden-sm col-md-5 text-right">
                    <div class="screen-box screen-slider">
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/screen-1.jpg') }}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/screen-2.jpg') }}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/screen-3.jpg') }}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/screen-4.jpg') }}" alt="">
                        </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/screen-5.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-area/-->



    <!--Feature-area-->
    <section class="gray-bg section-padding" id="demo-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Handwritten Digit Recognition Demo</h2>
                        <p id="instruction-text-draw">Draw your Digit below:</p>
                    </div>
                </div>
            </div>
            <div class="row" id="table-matrix" hidden>
                <table class="table" id="matrix-table">
                    <tbody id="matrix-body"></tbody>
                </table>
            </div>
            <div class="row" id="instruction-text-img" hidden>
                <p>Rendered 28x28 Image</p>
            </div>
            <div class="row canvas-row-css">
                <div class="canvas-img-css-parent row">
                    <div class="col-md-6">
                        <img id="img" class="canvas-img-css" width='500' height='500' hidden>
                    </div>
                    <div id="return_data" class="canvas-return-css col-md-6" hidden>
                        <div class="panel panel-warning">
                          <div class="panel-heading canvas-panel-style-options"><b>Prediction</b></div>
                          <div class="panel-body">
                            <span id="method-text">Please Select a Prediction Method</span><br>
                              <table class="table table-borderless" id="pred-table">
                                  <tr>
                                    <td colspan="2" class="bg-success">
                                        <span id="num1" style="font-size: 15rem">-</span>&nbsp;&nbsp;
                                        <span id="acc1" style="font-size: 5rem">-%</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="bg-danger" width="50%">
                                        <span style="font-size: 5rem" id="num2">-</span>&nbsp;&nbsp;
                                        <span id="acc2" style="font-size: 2rem">-%</span>
                                    </td>
                                    <td class="bg-warning" width="50%">
                                        <span style="font-size: 5rem" id="num3">-</span>&nbsp;&nbsp;
                                        <span id="acc3" style="font-size: 2rem">-%</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;
                                        <button type="button" class="btn btn-success" id="visualize" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">
                                            View patterns mined using Prefix-Span for this digit
                                        </button>
                                    </td>
                                  </tr>
                                </table>
                          </div>
                        </div>
                    </div>
                </div>
                
                <canvas id='c' class="canvas-css" width='500' height='500' ></canvas>
            </div>
            <div class="row canvas-button-css" id="canvas-button-css">
                <div class="panel panel-warning">
                    <div class="panel-heading canvas-panel-style-options"><b>Options</b></div>
                    <div class="panel-body">
                        <div class="row panel-row-flex">
                            <div class="col-md-4">
                                <button class="btn btn-success" id="save" onclick="save()">Generate Image</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-warning" id="clear" onclick="clears()">Clear Canvas</button>
                            </div>
                            <div class="col-md-4">
                                <label for="pointer-thickness">Pointer thickness: <span id="canvas-thickness-value"></span></label>
                                <input id="pointer-thickness" type="range" min="20" max="60" value="35" class="slider">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row rendered-image-button" id="rendered-image-button" hidden>
                <div class="panel panel-warning">
                    <div class="panel-heading canvas-panel-style-options"><b>Operations</b></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-success"  data-toggle="modal" data-target="#analyseModal">Predict Number</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger" id="somethingelse">Sequence Mining - Freeman Code Matching</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-warning" id="reset-all" onclick="resetAll()">Cancel and Redraw</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature-area/-->


        <section class="price-area overlay section-padding" id="about-us-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>About Us</h2>
                        <p>We are three M2 masters students specializing in Machine Learning and Data Mining at Jean Monnet University, France. <br> This assignment is part of our Machine Learning Group Project.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="{{ url_for('static', filename='images/team-section-1.png') }}" alt="">
                        </div>
                        <h4>ROHIL GUPTA</h4>
                        <h6>M2 MLDM @UJM</h6>
                        <ul class="social-menu">
                            <li><a href="https://www.facebook.com/rggg.rockrrr"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/RohilGupta"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/rohil-gupta/"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="{{ url_for('static', filename='images/team-section-2.png') }}" alt="">
                        </div>
                        <h4>NISAL UPENDRA</h4>
                        <h6>M2 MLDM @UJM</h6>
                        <ul class="social-menu">
                            <li><a href="https://www.facebook.com/nisalup"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/the_shopboy"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://linkedin.com/in/nisalup/"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="{{ url_for('static', filename='images/team-section-3.png') }}" alt="">
                        </div>
                        <h4>ALLWYN JOSEPH</h4>
                        <h6>M2 MLDM @UJM</h6>
                        <ul class="social-menu">
                            <li><a href="https://www.facebook.com/allwyn.joseph.927"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/allwyn-joseph/"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="gray-bg section-padding" id="feature-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>PROJECT DETAILS</h2>
                        <p>We'll fill this part out later, Rohil!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{{ url_for('static', filename='images/portfolio-icon-1.png') }}" alt="">
                        </div>
                        <h3>Sequence Mining</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{{ url_for('static', filename='images/portfolio-icon-2.png') }}" alt="">
                        </div>
                        <h3>Machine Learning and Deep Learning</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{{ url_for('static', filename='images/portfolio-icon-3.png') }}" alt="">
                        </div>
                        <h3>MNIST Database</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- sudoku -->
    <section class="gray-bg section-padding" id="sudoku-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title" style="margin-bottom: 30px !important;">
                        <h2>DIGITRECOGML Sudoku</h2>
                        <p>Play sudoku and we'll recognize the digits for you!</p>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: center" id="sudoku-row">
                <div class="col-md-6 sudoku-col">
                    <table class="table table-bordered table-dark table-hover" id="sudoku-table" align="center">
                      <tbody>
                        <tr>
                          <td>
                              <div class="cell-content" id="col1row1">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col2row1">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col3row1">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col4row1">#</div>
                          </td>
                        </tr>
                         <tr>
                          <td>
                              <div class="cell-content" id="col1row2">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col2row2">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col3row2">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col4row2">#</div>
                          </td>
                        </tr>
                         <tr>
                          <td>
                              <div class="cell-content" id="col1row3">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col2row3">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col3row3">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col4row3">#</div>
                          </td>
                        </tr>
                         <tr>
                          <td>
                              <div class="cell-content" id="col1row4">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col2row4">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col3row4">#</div>
                          </td>
                          <td>
                              <div class="cell-content" id="col4row4">#</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <canvas id='csudoku' class="sudoku-canvas-css" width='500' height='500' >
                </div>
            </div>
            <div class="row" style="text-align: center">
                <button class="btn btn-success">Start New Game</button>
                <button class="btn btn-success">Clear Canvas</button>
                <button class="btn btn-success">Detect</button>
            </div>
        </div>
    </section>


    <footer class="footer-area relative sky-bg" id="contact-page">
        <div class="absolute footer-bg"></div>
        <span id="current-matrix-data" hidden></span>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>&copy;Copyright 2018 DigitRecogML. All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="analyseModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Select Prediction Method</h4>
            </div>
            <div class="modal-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">
                          <button class="btn btn-primary" id="else">Use Numerical Methods</button>
                      </div>
                      <div class="col-md-6">
                          <button class="btn btn-danger" id="elseelse">Use Structural Methods</button>
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>


    <div class="modal fade" id="patternModal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" id="modal-dialog-patt" style="overflow-y: scroll; max-height:85%;  margin-top: 40ex; margin-bottom:20ex;">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Mined Patterns for <span id="modal-digit"></span></h4>
            </div>
            <div class="modal-body" id="modal-body-patt">
              <div class="container" id="patt_show">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>

    <div class="modal fade" id="alertModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Make a prediction first!</h4>
            </div>
            <div class="modal-body">
              <div class="container">
                  <div class="row">
                      A predicted number is required to view mined patterns for that digit.<br>
                      The patterns for the best match to the handwritten digit will then be displayed.
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>

   


    <!--Vendor-JS-->
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
    <!--Plugin-JS-->
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact-form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.parallax-1.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <!--Main-active-JS-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ml-custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sudoku-custom.js') }}"></script>
</body>

</html>
